<div id="footer">
  <div class="d-flex justify-content-around">
    <ul>
      <li>
        <a href="#a_propos" class="scollLink">A PROPOS</a>
      </li>
      <li>
        <a href="#service" class="scollLink">SERVICES</a>
      </li>
      <li>
        <a href="#portfolio" class="scollLink">PORTFOLIO</a>
      </li>
      <li>
        <a href="contact.html">CONTACT</a>
      </li>
    </ul>
    <div>
      <a href="https://goo.gl/maps/6nRfodiXMoZB852E6" target="_blank">
        <h4 class="">Localisation</h4>
        <p>Rue Joseph Marie Jacquard</p>
        <p>35590, SAINT-GILLES</p>
      </a>
    </div>
  </div>
  <div class="footer_links">
    ADBgraphisme © | Tous droits réservés | Mention légales | CGV
  </div>
</div>
