<div id="footer">
  <div
    class="d-flex flex-column flex-md-row justify-content-around align-items-md-center"
  >
    <ul class="ps-0">
      <li>
        <a href="#a_propos" class="scollLink">A PROPOS</a>
      </li>
      <li>
        <a href="#services" class="scollLink">SERVICES</a>
      </li>
      <li>
        <a href="#portfolio" class="scollLink">PORTFOLIO</a>
      </li>
      <li>
        <a routerLink="/contact">CONTACT</a>
      </li>
    </ul>
    <a href="https://goo.gl/maps/6nRfodiXMoZB852E6" target="_blank">
      <h4 class="">LOCALISATION</h4>
      <p>35590, SAINT-GILLES</p>
      <p>Bretagne</p>
    </a>
  </div>
  <div class="footer_links">
    ADBgraphisme © | Tous droits réservés | Mention légales | CGV
  </div>
</div>
