<header
  id="header"
  class="container-fluid position-fixed top-0 w-100 ps-5 py-3 d-flex align-items-center"
>
  <nav class="ms-10">
    <ul class="">
      <li class="mb-1">
        <a href="/#a_propos" class="menu_link">A PROPOS</a>
      </li>
      <li class="mb-1">
        <a href="/#service" class="menu_link">SERVICES</a>
      </li>
      <li class="mb-1">
        <a href="/#portfolio" class="menu_link">PORTFOLIO</a>
      </li>
      <li class="mb-1">
        <a routerLink="/contact" class="menu_link">CONTACT</a>
      </li>
    </ul>
  </nav>
</header>
<a routerLink="/">
  <img
    src="assets/img/logo.webp"
    alt="ADBGraphisme"
    id="logo"
    class="position-fixed top-0 mt-3"
  />
</a>
