<h3>SERVICES</h3>
<div class="container-fluid px-4 my-5">
  <div class="row g-5">
    <div class="service col-12 col-sm-6 col-md-3">
      <img src="assets/img/services/print.png" alt="Communication support imprimé"/>
      <div class="legend">Communication support imprimé</div>
      <div class="legend-hover">blublu</div>
    </div>
    <div class="service col-12 col-sm-6 col-md-3">
      <img src="assets/img/services/webdesign.png" alt="Communication support web"/>
      <div class="legend" data-hover="blable">Communication support web</div>
      <div class="legend-hover">blabla</div>
    </div>
    <div class="service col-12 col-sm-6 col-md-3">
      <img src="assets/img/services/motion.png" alt="Motion Design"/>
      <div class="legend">Motion Design</div>
      <div class="legend-hover">blibli</div>
    </div>
    <div class="service col-12 col-sm-6 col-md-3">
      <img src="assets/img/services/illustration.png" alt="Illustration"/>
      <div class="legend">Illustration</div>
      <div class="legend-hover">bloblo</div>
    </div>
  </div>
</div>
