<div id="services">
  <h3>SERVICES</h3>
  <div class="container-fluid px-4 my-5">
    <div class="row g-5">
      <div class="service col-12 col-sm-6 col-md-3">
        <img src="assets/img/services/print.png" alt="Communication support imprimé"/>
        <div class="legend">Communication support imprimé</div>
        <div class="legend-hover">
          <p>Logotype</p>
          <p>Carte de visite</p>
          <p>Brochure</p>
          <p>catalogue</p>
          <p>Affiche</p>
          <p>Banderole</p>
          <p>stickers</p>
          <p>Faire-part</p>
        </div>
      </div>
      <div class="service col-12 col-sm-6 col-md-3">
        <img src="assets/img/services/webdesign.png" alt="Communication support web"/>
        <div class="legend" data-hover="blable">Communication support web</div>
        <div class="legend-hover">
          <p>Maquette web</p>
          <p>Maquette application</p>
          <p>Landing page</p>
          <p>Post réseaux sociaux</p>
          <p>Bannières</p>
          <p>Stories</p>
        </div>
      </div>
      <div class="service col-12 col-sm-6 col-md-3">
        <img src="assets/img/services/motion.png" alt="Motion Design"/>
        <div class="legend">Motion Design</div>
        <div class="legend-hover">
          <p>Vidéo d’entreprise</p>
          <p>GIF</p>
          <p>Stories</p>
        </div>
      </div>
      <div class="service col-12 col-sm-6 col-md-3">
        <img src="assets/img/services/illustration.png" alt="Illustration"/>
        <div class="legend">Illustration</div>
        <div class="legend-hover">
          <p>Illustration numérique</p>
          <p>Illustration traditionnelle</p>
          <p>Peinture aquarelle</p>
        </div>
      </div>
    </div>
  </div>
</div>
