#a_propos {
  section {
    #profil {
      max-width: 30%;

    }

    .description {
      margin: auto;

      p {
        text-align: justify;
      }
    }
  }
}

@media (min-width: 768px) {
  .description {
    width: 60%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  img {
    max-width: 300px;
    margin: auto;
  }

  .description {
    width: 50%;
    margin: auto;

    p {
      font-size: 1.5em;
    }
  }
}

