<div id="a_propos" class="pt-5 px-3">
  <h3>A PROPOS</h3>
  <section class="d-flex flex-column flex-md-row align-items-center justify-content-around m-3 p-5">
    <div class="text-center my-3 my-md-0" id="profil">
      <img src="assets/img/profil_alex.png" alt="Alex Dubois" class="img-fluid"/>
    </div>
    <div class="description">
      <p class="text-center mb-3">
        Hello ! Moi c’est Alex, ravie de faire votre connaissance !
      </p>
      <p class="text-center">Qui je suis ?
        Je suis graphiste/ “couteau suisse” freelance.
        Diplômée en tant que graphiste webdesigner et motion designer, par l’École MJM Graphic Design de Rennes.
        J’ai d’abord eu une expérience de deux ans chez PSA Group Site de Rennes en alternance, et d’autres expériences
        en tant que graphiste salariée.
        Depuis février 2022, j’ai pris <strong>LA</strong> décision : Me mettre à mon compte !
        C’est donc avec plaisir que je vous aiderai à mener votre projet à bien.
      </p>
    </div>
  </section>
</div>
