<div id="footer" class="bg-primary">
  <div class="d-flex flex-column flex-md-row justify-content-around align-items-md-center">
    <div class="ps-0 d-flex flex-column links">
      <p routerLink="/accueil" fragment="a_propos">A PROPOS</p>
      <p routerLink="/accueil" fragment="services">SERVICES</p>
      <p routerLink="/accueil" fragment="portfolio">PORTFOLIO</p>
      <p routerLink="/contact">CONTACT</p>
    </div>
    <a id="localisation" href="https://goo.gl/maps/6nRfodiXMoZB852E6" target="_blank"
       class="d-flex flex-column mt-2 mt-md-0">
      <h4>LOCALISATION</h4>
      <span>35590, SAINT-GILLES</span>
      <span>Bretagne</span>
    </a>
  </div>
  <div class="footer_links d-flex flex-column flex-md-row justify-content-center">
    <span routerLink="/">ADBgraphisme ©</span>
    <span class="d-none d-md-inline-block mx-3"> | </span>
    <span>Tous droits réservés</span>
    <span class="d-none d-md-inline-block mx-3"> | </span>
    <span routerLink="/mentions-legales">Mention légales</span>
    <span class="d-none d-md-inline-block mx-3"> | </span>
    <a
      href="https://firebasestorage.googleapis.com/v0/b/adb-graphisme-bfef3.appspot.com/o/CGV.pdf?alt=media&token=30f28ced-9d00-471d-b734-d92cd1336dfb"
      target="_blank">CGV</a>
  </div>
</div>
