<app-contact-header></app-contact-header>

<div *ngIf="project$|async as project">
  <div id="banniere">
    <img [src]="project.banner.url" [alt]="project.name"/>
  </div>
  <main class="py-5 px-4 px-md-0 w-60 mx-auto">
    <div
      id="title"
      class="d-flex flex-column align-items-center flex-md-row justify-content-md-between mb-5"
    >
      <h2>{{ project.name }}</h2>
      <div class="pt-3 pt-md-0">
        <span>ANNÉE</span>
        <p class="text-center text-md-start">{{ project.year }}</p>
      </div>
    </div>
    <div id="description" class="mb-5">
      <p>{{ project.description }}</p>
    </div>
    <div id="pics" class="row">
      <div class="col-12 col-sm-6 d-flex flex-column">
        <div *ngFor="let portfolio of project.portfolio$|async; let index = index">
          <img *ngIf="index%2 == 0"
               [src]="portfolio.url"
               [alt]="project.name"
               class="img-fluid mb-4"
          />
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex flex-column">
        <div *ngFor="let portfolio of project.portfolio$|async; let index = index">
          <img *ngIf="index%2 != 0"
               [src]="portfolio.url"
               [alt]="project.name"
               class="img-fluid mb-4"
          />
        </div>
      </div>
    </div>
  </main>
</div>
<app-portfolio [title]="'CES PROJETS POURRAIENT VOUS PLAIRE'"></app-portfolio>
<app-scroll-to-top></app-scroll-to-top>
<app-footer></app-footer>
