<app-contact-header></app-contact-header>

<div *ngIf="project$|async as project">
  <div id="banniere">
    <img [src]="project.banner.url" [alt]="project.name"/>
  </div>
  <main class="py-5 px-4 px-md-0 w-60 mx-auto">
    <div
      id="title"
      class="d-flex flex-column align-items-center align-items-md-start flex-md-row justify-content-md-between mb-5"
    >
      <div class="pt-3 pt-md-0 text-center text-md-start">
        <h1 class="mb-3">{{ project.name }}</h1>
        <p class="text-center text-md-start" *ngIf="project.link">
          <a [href]="project.link" target="_blank">Site du client</a>
        </p>
      </div>
      <div class="pt-4 pt-md-0 text-center text-md-start">
        <h2 class="mb-3">ANNÉE</h2>
        <p class="text-center text-md-start"><small>{{ project.year }}</small></p>
      </div>
    </div>
    <div id="description" class="mb-5">
      <p>{{ project.description }}</p>
    </div>
    <div id="pics" class="row" *ngIf="project.portfolio$|async as portfolios">
      <div class="col-12 col-sm-6 d-flex flex-column">
        <div *ngFor="let portfolio of portfolios; let i = index">
          <img *ngIf="i%2 === 0"
               [src]="portfolio.url"
               [alt]="project.name"
               class="img-fluid mb-4"/>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex flex-column">
        <div>
          <div *ngFor="let portfolio of portfolios; let i = index">
            <img *ngIf="i%2 !== 0"
                 [src]="portfolio.url"
                 [alt]="project.name"
                 class="img-fluid mb-4"/>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-portfolio [title]="'CES PROJETS POURRAIENT VOUS PLAIRE'"></app-portfolio>
<app-scroll-to-top></app-scroll-to-top>
<app-footer></app-footer>
