<div id="a_propos" class="pt-5 px-3">
  <h3>A PROPOS</h3>
  <section class="row mt-3 gy-3">
    <div class="col-12 col-md-3 text-center">
      <img src="assets/img/user.png" alt="Alex Dubois" class="img-fluid" />
    </div>
    <div class="col-12 col-md-9 d-flex align-items-center">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, quo.
        Libero minus commodi nihil quae illo perferendis laborum sapiente.
        Impedit corporis ex aliquid officia nam, quasi sequi iste ipsum. Optio
        exercitationem quam hic impedit tempora mollitia quaerat laboriosam
        neque molestiae alias, obcaecati explicabo iure sunt consequatur quidem
        harum sint molestias, qui eaque natus magnam. Iusto quibusdam maiores
        minima sed aliquid corporis enim, nemo dolore ex nihil. Blanditiis quod
        cum soluta?
      </p>
    </div>
  </section>
</div>
