<header>
  <div class="d-flex align-items-center justify-content-between py-3 minimize"
  >
    <app-hamburger-menu class="d-md-none" (action)="closeOrOpen($event)"></app-hamburger-menu>
    <img
      routerLink="/"
      src="assets/img/logo.webp"
      alt="ADBGraphisme"
      id="logo"
      class="ms-md-5"
      [ngClass]="{'active': open}"
    />
    <div class="hide"></div>
  </div>
  <div id="jobs" class="w-100 ps-5 my-3 py-5 py-md-0">
    <h1 class="m-0">ADB GRAPHISME</h1>
    <span id="typewriter" class="h2"></span>
  </div>

  <div class="menu" [ngClass]="{'active': open}">
    <div class="d-flex flex-column align-items-start me-auto mb-2 py-5 py-md-0 mt-5 mt-md-0 ps-5">
      <h3 class="mb-lg-2"><a href="/accueil#a_propos">A PROPOS</a></h3>
      <h3 class="mb-lg-2"><a href="/accueil#services">SERVICES</a></h3>
      <h3 class="mb-lg-2"><a href="/accueil#portfolio">PORTFOLIO</a></h3>
      <h3 routerLink="/contact" class="mb-lg-2">CONTACT</h3>
    </div>
  </div>

</header>
