header {
  position: relative;

  .minimize {
    position: relative;
    z-index: 50;
    transition: 0.2s ease;

    img {
      height: 50px;

      &.active {
        filter: brightness(0) invert(1);
      }
    }

    .hide {
      width: 50px;
      visibility: hidden;
    }
  }

  .menu {
    z-index: 0;
    width: 100%;
    position: absolute;
    top: -300px;
    transition: 0.2s ease;
    background-color: var(--color-secondary);

    &.active {
      top: 0;
    }

  }
}

@media (min-width: 768px) {
  header {
    background-color: transparent;

    #logo {
      height: 100px;
    }

    .menu {
      position: relative;
      top: 0;
      transition: none;
      background-color: transparent;

      h3 {
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
          color: var(--color-primary);
          transform: translate(20px);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    background-color: var(--color-tertiary);

    h3 {
      color: var(--color-tertiary);
      font-weight: 400;
      font-size: 1.5em;
      margin-bottom: 5px;
      transition: 0.2s ease;
      cursor: pointer;

      a {
        color: var(--color-tertiary);
        transition: 0.2s ease;

        &:hover {
          color: var(--color-primary)
        }
      }

      &:hover {
        color: var(--color-primary);
        transform: translateX(20px);
        font-weight: 600;
      }
    }
  }
}


#typewriter {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: bolder;
}



