<div id="contact" class="d-flex">
  <div class="img">
    <img src="assets/img/img_contact.jpg" class="d-none" alt="adb-graphisme" />
  </div>
  <div id="contact_link">
    <h3>CONTACT</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, commodi.
      Adipisci deserunt earum at maxime ratione molestias animi aliquam aliquid!
    </p>
    <a href="contact.html">LET'S GO</a>
  </div>
</div>
<div id="accroche">«La créativité, c'est l'intelligence qui s'amuse»</div>
