<div id="contact" class="d-flex">
  <img src="assets/img/img_contact.jpg" class="d-none d-md-block" alt="adb-graphisme"/>
  <div id="contact_link" class="align-self-center">
    <h3>CONTACT</h3>
    <p>Une idée, un projet ?</p>
    <p class="fst-italic">N’hésitez pas à me contacter pour se rencontrer et en discuter !</p>
    <a routerLink="/contact">LET'S GO</a>
  </div>
</div>
<div id="accroche">
  <p>«La créativité, c'est l'intelligence qui s'amuse»</p>
  <p id="auteur" class="mt-2">Albert Einstein</p>
</div>
