
#logo {
  height: 50px;
  text-align: center;
}

#logo img {
  height: 50%;
  z-index: 1000
}

#header {
  background-color: #f1eae0;
  transform: translateY(-200px);
  width: 100%;
  transition: 0.2s ease;
  height: 160px;
}

.menu_link {
  display: inline-block;
  text-decoration: none;
  color: #e93119;
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.9em;
  transition: 0.2s ease;
}

.menu_link:hover {
  color: #8db5ad;
  transform: translate(20px);
}

.ms-10 {
  margin-left: 150px;
}

@media (min-width: 768px) {
  #logo {
    text-align: left;
  }
  #logo img {
    height: 100%;
  }
}

@media (min-width: 992px) {
  #logo {
    height: 100px;
  }
}
