<header>
  <div class="d-flex align-items-center justify-content-between py-3 minimize"
  >
    <app-hamburger-menu (action)="closeOrOpen($event)"></app-hamburger-menu>
    <img
      routerLink="/"
      src="assets/img/logo.webp"
      alt="ADBGraphisme"
      id="logo"
      [ngClass]="{'active': open}"
    />
    <div class="hide"></div>
  </div>

  <div class="menu" [ngClass]="{'active': open}">
    <div class="d-flex flex-column align-items-start me-auto mb-2 py-5 mt-5 ps-5">
      <h3 routerLink="/accueil" class="mt-md-5">ACCUEIL</h3>
      <h3 routerLink="/accueil" fragment="portfolio">PORTFOLIO</h3>
      <h3 routerLink="/contact">CONTACT</h3>
    </div>
  </div>

</header>
