form {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 90%;
}

label {
  margin-bottom: 5px;
  color: #8db5ad;
}

input,
textarea {
  border: 2px solid #8db5ad;
  margin-bottom: 25px;
  padding: 10px;
  transition: 0.5s ease;
}

input[type="submit"] {
  width: 100%;
  display: block;
  padding: 2vh;
  text-align: center;
  margin: 10% auto;
  color: #f1eae0;
  text-decoration: none;
  font-size: 1.4em;
  background-color: #e93119;
  border: #e93119 solid 2px;
  transition: 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #f1eae0;
  color: #e93119;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  border: 2px solid #e93119;
  outline: none;
}

@media (min-width: 768px) {
  form {
    width: 50%;
  }
}

@media (min-width: 992px) {
  form {
    width: 400px;
  }
}
