<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <div
    id="menu"
    class="container-fluid d-flex flex-lg-column justify-content-start align-items-lg-start"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto m-lg-0" href="#">
      <img
        src="assets/img/logo.webp"
        alt="ADBGraphisme"
        id="logo"
        class="ms-lg-4"
      />
    </a>
    <div id="jobs" class="w-100 ps-5">
      <h1 class="m-0">ADB GRAPHISME</h1>
      <span id="typewriter" class="h2"></span>
    </div>
    <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
      <ul class="d-flex flex-column navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a href="#a_propos" class="menu_link scollLink">A PROPOS</a>
        </li>
        <li>
          <a href="#service" class="menu_link scrollLink">SERVICES</a>
        </li>
        <li>
          <a href="#portfolio" class="menu_link scrollLink">PORTFOLIO</a>
        </li>
        <li class="mb-4">
          <a href="contact.html" class="menu_link">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
