<div id="portfolio" class="mb-5">
  <h3 class="mb-2">{{ title }}</h3>
  <div class="d-flex align-items-center justify-content-around flex-wrap">
    <img
      src="../../../../assets/img/scrollToTop.png"
      alt="previous"
      (click)="owlCar.prev()"
      id="previous"
      class="order-2 order-sm-1"
    />
    <div id="carousel" class="order-1 order-sm-2 my-0 my-sm-5">
      <owl-carousel-o [options]="customOptions" #owlCar>
        <ng-container *ngFor="let project of projects$|async">
          <ng-template carouselSlide>
            <div class="position-relative d-flex" routerLink="/portfolio/{{ project.id }}">
              <div class="hover_portfolio">
                <h4>{{ project.name }}</h4>
              </div>
              <img src="{{ project.slider.url }}" [alt]="project.name"/>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <img
      src="../../../../assets/img/scrollToTop.png"
      alt="next"
      (click)="owlCar.next()"
      id="next"
      class="order-3 order-sm-3"
    />
  </div>
</div>
